.about-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;

  background-color: #fff;
}

.about-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.about-title {
  font-size: 10vh;
  color: #213547;

  position: relative;
  align-self: center;
}